ALL REVIEW ENTRIES
<% @review_entries.each do |review_info| %>
  <h4><a href="/review_entries/<%= review_info.id %>"><%= review_info.created_at %></a></h4>
  <strong><%= review_info.title %></strong>
  <p><%= review_info.content %></p>
  <p>By <%= review_info.user %></p>
  <br><br>
<% end %>