



<h2><%= @review_info.title %></h2>

<p><%= @review_info.content %></p>


<p>Created by: <%= @review_info.user.username.capitalize %></p>



<% if authorized?(@review_info) %>
  <a href="/review_entries/<%= @review_info.id %>/edit">Edit Review</a>
  <br><br>
  <form class="" action="/review_entries/<%= @review_info.id %>" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" name="" value="Delete this Review">
  </form>
<% end %>