<h2><%= @user.username.capitalize %>'s Review Page</h2>


<% if current_user.id == @user.id %>
<% current_user.reviews.each do |r| %>
 <h1><%= r.title %></h1>
 <p><%= r.content %></p>
    <a href="/review_entries/<%=r.id%>/edit" >Edit the Review </a>
    
<form action="/review_entries/<%=r.id%>" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Review">
</form>



  
 <br>
<% end %>
<% end %>


